.header{
    height: 100%;
}
.heading-text{
    padding-top: 3%;
}
.container{
    /* width: 100%; */
    color: rgb(255, 255, 255);
}

.hear-button{
    margin-top: 20px;
}

.header-list{
    margin: 25px;
}

.header-list,li{
    padding-bottom: 15px;
}

/* section-2 of the body */
.subheading{
    padding: 5vh;
}

.section-2, p{
    margin: 3vh;
}

.section-2, h4{
    padding-bottom: 20px;
}

.section-2 .col-md-4{
    /* background-color: red; */
    
}

/* Section 2 tag */
.section-{
    width: 100%;
}

.subheading-2{
    /* position: absolute; */
    margin: 0 auto;
    width: 80%;
    /* border: 3px solid #73AD21; */
    padding: 10px;
}
.subheading-2, h2{
    padding: 4vh;
}
.custom-section {
    margin: 0 auto;
    width: 80%;
    border: 1px solid white;
    padding: 10px;
}

.footer_subsection{
    padding-top: 5vh;
}
