.header{
    height: 100%;
}
.heading-text{
    padding-top: 3%;
}
.container{
    /* width: 100%; */
    color: rgb(255, 255, 255);
}

.hear-button{
    margin-top: 20px;
}

.header-list{
    margin: 25px;
}

.header-list,li{
    padding-bottom: 15px;
}

/* section-2 of the body */
.subheading{
    padding: 5vh;
}

.section-2, p{
    margin: 3vh;
}

.section-2, h4{
    padding-bottom: 20px;
}

.section-2 .col-md-4{
    /* background-color: red; */
    
}